html {
    height: 100%;
}
body {
    height: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    #root {
        height: 100%;
        .app {
            height: 100%;
            .grid {
                margin: 0;
                padding: 0;
                height: 100%;
            }
        }
    }
}
.middle-container {
    padding-top: 5rem;
}
.btn:focus {
    outline: none;
}
.sharp {
    border-radius: 0;
}
.divider {
    height: 1px;
    width: 100%;
    display: block;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    > span {
        position: relative;
        display: inline-block;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: red;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: red;
            background-color: #e5e5e5;
            right: 100%;
            margin-right: 15px;
        }
        &:after {
            background-color: #e5e5e5;
            left: 100%;
            margin-left: 15px;
        }
    }
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}
.center-text {
    text-align: center;
}
a {
    background: 0 0;
    color: #4183C4;
    text-decoration: none;
}
ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-flex;
        a {
            padding: 8px;
        }
    }
}
