.container-fluid, .container {
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.col-xs {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.around-xs {
    justify-content: space-around;
}
